.adjust
{
 width :80%;
    margin:0 auto;
    padding-top: 2%;
}
.logo
{
	width: 10%;
}
.logo1
{
	width: 60%;
	height:100%;
}
* {box-sizing: border-box;}

.input-container {
    display: flex;
    width: 100%;
    height: 30px;
}

.icon {
    padding: 6px;
    background: #eeeeee;
    color: #bdc3c7 ;
    min-width: 50px;
    height: 30px;
    text-align: center;
    border: 1px solid #757d75;
    
}
.icon:hover
{
  background-color: #d2d7d3;
  color: #bfbfbf;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid blue;
}
.icons
{
	color: #757d75;
}
.iconfa
{
	color: #757d75;
}
.iconfa:hover
{
	color: black;
}
.iconuser
{
color: orange;
}
.likes p
{
	display: inline;

}
.menu
{
	height: 70px;
	border-bottom: 1px solid #eeeeee;
	position: sticky;
}
.material-icons.md-36 {
  font-size: 36px;
  color: #757d75; }
  .company
  {
  	width: 100%;
  	height: 50px;
  }
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 15px;
    color: #757d75;
}

video {
width: 100%;
    left: 5px;
    top: 0px;
    display: block;
    outline: 0;
    object-fit: cover;
}

.video-info
{
      padding: 10px 0 8px 0;
}
.icons p
{
  display: inline;
}
.inputspace
{
  padding-right: 7px;
  color: #a4a4a4; 
}

.ipad
{
  padding-right: 7px; 
}

.hovers:hover{
  color: black;
}

i{color: #a4a4a4;}
.desc{padding-left: 65px;}

